%h1 Players
%table.datatable.table.table-bordered.table-striped
  %thead
    %tr
      %th Player Name
      %th Otserv
      %th Time Played
      %th Online
  %tbody
    - @players.each do |player|
      %tr
        %td= player.name
        %td= player.otserv.name
        %td= player.minutes_played.to_s + ' minutes'
        - if player.online
          %td.on ON
        - else
          %td.off OFF
