body {
  padding-top: 60px;
}

.on {
  color: green;
  font-weight: bold;
}

.off {
  color: red;
  font-weight: bold;
}

.center {
  margin: 0 auto !important;
  float: none !important;
}

.footer {
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}
